{
  "openapi": "3.0.0",
  "info": {
    "title": "Ozon Performance API 文档",
    "version": "2.0",
    "x-logo": {
      "url": "https://ir.ozone.ru/s3/helppartners/ozon-logo-for-api-referral.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "\n在文件中描述了Ozon Performance API — 用于与广告管理面板进行交换的接口方法\n系统卖家和Ozon之间的信息。\n\n关于使用API的工作问题，请通过个人中心联系客服。\n"
  },
  "servers": [
    {
      "url": "https://api-performance.ozon.ru:443"
    }
  ],
  "x-tagGroups": [
    {
      "name": "总描述",
      "tags": [
        "Intro",
        "Token",
        "Limits",
        "News"
      ]
    },
    {
      "name": "性能API方法",
      "tags": [
        "Campaign",
        "Statistics",
        "Ad",
        "Product",
        "Search-Promo",
        "Vendor"
      ]
    }
  ],
  "tags": [
    {
      "name": "Intro",
      "x-displayName": "介绍",
      "description": "要使用Ozon广告活动报告API，请在您的个人中心获取 `client_id` 和 `client_secret`：\n1. 在个人中心进入页面 [**设置 → API-密钥**](https://seller.ozon.ru/app/settings/api-keys?currentTab=performanceApi). \n2. 如果需要，请创建服务账号：点击 **创建新账号**。\n3. 点击服务账号名称。\n4. 点击 **添加新密钥**。\n\n用于使用API：\n1. 使用 `client_id` 和 `client_secret` 在授权服务中获取授权令牌。\n2. 使用授权令牌执行请求。如果令牌已过期，请获取新的令牌。"
    },
    {
      "name": "Token",
      "x-displayName": "如何获取API-密钥",
      "description": "要获取授权令牌，请发送请求：\n\n```yaml\nPOST /api/client/token HTTP/1.1\nHost: https://api-performance.ozon.ru\nContent-Type: application/json\nAccept: application/json\n\n{\n  \"client_id\":\"XYZ@advertising.performance.ozon.ru\", \n  \"client_secret\":\"b1u5XXDQW3wEqQ7dG...ancMyuhQtMNBI\", \n  \"grant_type\":\"client_credentials\"\n}\n```\n\n服务会返回带有有效期秒数的令牌：\n\n```yaml\n{\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\",\n  \"expires_in\": 1800,\n  \"token_type\": \"Bearer\"\n}\n```"
    },
    {
      "name": "Limits",
      "x-displayName": "请求限制",
      "description": "每天的请求总限额为100,000。\n\n在报告生成的开始检查上传统计数据的限制。 \n\n限额适用于来自[**统计**](#tag/Statistics)部分的报告。\n\n一条广告活动 = 一条导出。\n\n如果请求中有多个广告活动，这将被视为多个导出。\n\n每天的导出数量限制按以下公式计算：活跃广告数量 × 240 — 但不超过以下表格中的值。\n\n下载限制：\n\n| 限制                                                        | 限额的含义 |\n|--------------------------------------------------------------|-----------------|\n| 导出文件的天数限制                          | 62              |\n| 报告中的广告数量限制                        | 10              |\n| 账户同时导出数量的限制        | 1               |\n| 每天账户的下载数量限制           | 2000            |\n| 组织同时下发数量的限制   | 5               |\n| 在组织范围内的24小时内的下载数量限制 | 2000            |\n"
    },
    {
      "name": "News",
      "x-displayName": "更新",
      "description": "## 2026年8月6日\n\n| 方法                                                      | 变更                                                  |\n|---------------------------------------------------------|-----------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns)    | 在方法响应的`list.placement`参数中新增了`PLACEMENT_TILE_MAIN`值。 |\n| [POST /api/client/statistics](#operation/SubmitRequest) | 更新了方法描述。                                            |\n\n## 2026年6月8日\n\n| 方法                                                                                       | 变更                          |\n|------------------------------------------------------------------------------------------|-----------------------------|\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)            | 已更新方法描述。                    |\n| [POST /api/client/statistics/products/sku](#operation/SearchPromoProductsSKUStatistics2) | 新增了用于获取按点击付费广告活动中商品统计数据的方法。 |\n\n## 2026年6月2日\n\n| 方法 | 变更                                                |\n|-------|---------------------------------------------------|\n| [POST /api/client/campaign/{campaignId}/products](#operation/AddProducts) <br> [PUT /api/client/campaign/{campaignId}/products](#operation/UpdateProducts) | 添加了参数`bids.topPosition`至方法请求中。                    |\n|[GET /api/client/campaign/{campaignId}/v2/products](#operation/GetProductsV2) | 在方法响应中添加了参数`products.topPosition`。|\n| [GET /api/client/campaign/all_sku_promo/activate](#operation/ActivateAllSkuPromoCampaign)| 在方法响应中添加了参数`selectedBid`。   |\n\n## 2026年5月22日\n\n| 方法                                                                                                                                                                  | 变更                                                                                                                                                                                                                           |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                      | 已更新方法说明。<br> 在方法请求中：<ul><li>更新了`productAutopilotStrategy`参数的说明；</li><li>将`dailyBudget`参数标记为已弃用。</li></ul> |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | 在这些方法的响应中：<ul><li>更新了`productAutopilotStrategy`和`placement`参数的说明；</li><li>删除了`advObjectType`参数；</li><li>将`dailyBudget`参数标记为已弃用。</li></ul>       |\n| [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                                             | 在方法请求中`dailyBudget`参数标记为已弃用。                                                                                              |\n| [POST /api/client/campaign/{campaignId}/products](#operation/AddProducts) <br> [PUT /api/client/campaign/{campaignId}/products](#operation/UpdateProducts)             | 在方法请求中：<ul><li> 新增了参数`bids.targetCir`；</li><li> 更新了参数的说明`bids.bid`。 </li></ul>                                                                                                        |\n| [GET /api/client/campaign/{campaignId}/v2/products](#operation/GetProductsV2)                                                                                          | 在方法响应中：<ul><li> 新增了参数`products.targetCir`；</li><li> 更新了参数的说明`products.bid`。 </li></ul>                                                                                                  |\n\n## 2026年4月8日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                 | 变更                        |\n|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------|\n| [GET /api/client/campaign/all_sku_promo/activate](#operation/ActivateAllSkuPromoCampaign)<br>[GET /api/client/campaign/all_sku_promo/deactivate](#operation/DeactivateAllSkuPromoCampaign)<br>[GET /api/client/statistics/all_sku_promo/orders/generate](#operation/GenerateAllSkuPromoOrdersReport)<br>[GET /api/client/statistics/all_sku_promo/products/generate](#operation/GenerateAllSkuPromoProductsReport) | 新增了用于管理“按订单付费”下所有商品推广的方法。 |\n| [POST /api/client/statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)<br>[POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)                                                                                                                                                                                                                 | 更新了方法名称。                  |\n\n## 2026年2月18日\n\n| 方法                                                                                            | 变更             |\n|-----------------------------------------------------------------------------------------------|-------------------|\n| [POST /api/client/statistics/phrases](#operation/ExternalStatistics_StatisticsPhrasesSubmitRequest2) | 已新增获取搜索查询报告的接口。 |\n\n## 2026年1月21日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          | 变更             |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------|\n| [POST /api/client/statistics/video](#operation/VideoCampaignsSubmitRequest)<br>[POST /api/client/statistics/attribution](#operation/AttributionSubmitRequest)<br>[GET /api/client/statistics/campaign/media](#operation/MediaCampaignList)<br>[GET /api/client/statistics/expense](#operation/GetCampaignExpense)<br>[GET /api/client/statistics/daily](#operation/GetCampaignDailyStats)<br>[GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)<br>[POST /api/client/statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)<br>[POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)<br>[POST /api/client/statistics](#operation/SubmitRequest) | 已更新方法描述中的报告内容。 |\n\n## 2026年1月15日\n\n| 方法                                                                                         | 变更                                         |\n|-----------------------------------------------------------------------------------------------|---------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns) <br> [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) <br> [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)| 更新了方法描述。 |\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                | 已从方法请求中移除参数 `autoIncreasePercent`。                                                                                                                           |\n| [GET /api/client/campaign](#operation/ListCampaigns) <br> [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | 已从方法响应中移除参数 `autoIncrease`。|\n|[POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) | 移除了方法请求中参数 `TAKEOVER` 的值 `productAutopilotStrategy`。 |\n\n## 2025年11月18日\n\n| 方法                                                                                            | 变更             |\n|-----------------------------------------------------------------------------------------------|-------------------|\n| [GET /api/client/products_with_bonuses](#operation/ExternalCampaign_ListProductsWithBonuses2) | 新增了获取带有积分商品列表的方式。 |\n\n## 2025年11月10日\n\n| 方法                                                                             | 变更      |\n|--------------------------------------------------------------------------------|------------|\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)  | 已更新方法的描述。  |\n\n## 2025年10月31日\n\n| 方法                                                                                                                                                                  | 变更                                                             |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                | 在方法的响应中，为参数 `list.productAutopilotStrategy` 添加了值 `TOP_PROMOTION`。 |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | 在方法的响应中，为参数 `productAutopilotStrategy` 添加了值 `TOP_PROMOTION`。      |\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                   | 在方法的请求中，为参数 `productAutopilotStrategy` 添加了值 `TOP_PROMOTION`。      |\n| [POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)                                                                   | 已更新方法的描述。 |\n\n## 2025年10月23日\n\n| 方法                                                                                                                                                                   | 变更                                                  |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                 | 自动增加参数`list.autoIncrease`即将废弃，我们将于2025年10月29日 停用该参数。   |\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)<br>[PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)      | 自动增加参数`autoIncreasePercent`即将废弃，我们将于2025年10月29日 停用该参数。 |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | 自动增加参数`autoIncrease`即将废弃，我们将于2025年10月29日 停用该参数。        |\n\n## 2025年10月17日\n\n| 方法                                                                                                                                                                 | 变更                                                                                                                  |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------|\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                    | 已更新 `placement` 和 `productAutopilotStrategy`  参数在方法请求中的描述。                                                             |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | 已更新 `paymentType`、 `advObjectType`,、`placement`  和 `productAutopilotStrategy` 参数在方法响应中的描述。                             |\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget)                                                                                               | 已更新 `createCampaign.autopilotStrategy`,、`createCampaign.placement`  和 `updateCampaign.autopilotStrategy`  参数在方法请求中的描述。 |\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                 | 已更新 `advObjectType`  参数在方法请求中的描述。<br>已更新  `list.advObjectType`、`list.placement` 和 `list.productAutopilotStrategy` 参数在方法响应中的描述。 |\n| [GET /api/client/campaign/{campaignId}/objects](#operation/ListCampaignObjects)<br>[POST /api/client/statistics](#operation/SubmitRequest)                           | 已更新方法的描述。                                                                                                              |\n| [GET /api/client/limits/list](#operation/GetLimitsList)                                                                                                              | 已更新方法的描述。<br>已更新  `limits.objectType`  和 `limit.placement`  参数在方法响应中的描述。                                               |\n| [POST /api/client/min/sku](#operation/ExternalCampaign_BidBySKU)                                                                                                     | 已更新 `paymentType`  参数在方法请求中的描述。                                                                                        |\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)                                                                                        | 已更改方法名称。                                                                                                               |\n| —                                                                                                                                                                    | 已将 **模板和登上顶端** 板块名称更改为 [**按点击付费和特别投放**](#tag/Ad)。<br>已将 **模板和登上顶端中的商品** 模块名称更改为 [**在付费点击和特别广告中出售的商品**](#tag/Product)。  |\n\n## 2025年8月19日\n\n| 方法                                                                  | 变更                                        |\n|------------------------------------------------------------------------|---------------------------------------------------------|\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget) | 方法即将过时，并将于2025年9月1日停用。 |\n\n## 2025年7月24日\n\n| 方法                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         | 变更                                                                                                                     |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------|\n| [GET /api/client/limits/list](#operation/GetLimitsList)                                                                                                                                                                                                                                                                                                                                                                                                                                                                    | 已更新方式响应中`limits.objectType`参数的描述。<br>已在方式回复中的`limits.placement`参数中添加了`CAMPAIGN_PLACEMENT_OVERTOP`值。<br>更新了方法描述。           |\n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                                                                                                                                                                                                                                                                                                                                                                                                                                          | 已更新 `productAutopilotStrategy`参数中的`TARGET_BIDS`值。                                                                         |\n| [POST /api/client/min/sku](#operation/ExternalCampaign_BidBySKU)                                                                                                                                                                                                                                                                                                                                                                                                                                                           | 已更新方式请求中`paymentType`参数的描述。                                                                                               |\n| [GET /api/client/campaign](#operation/ListCampaigns)                                                                                                                                                                                                                                                                                                                                                                                                                                                                       | 已更新方式请求中`advObjectType`参数的描述。<br>已更新方式响应中`list.advObjectType`参数的描述。<br>已在方式响应中的`list.placement`参数中添加`PLACEMENT_OVERTOP`值。 |\n| [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)                                                                                                                                                                                                                                                                                                                                                       | 已更新方式响应中`advObjectType`参数的描述。                                                                                             |\n| [POST /api/client/campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)                                                                                                                                                                                                                                                                                                                                                                                                                | 已更新方式响应中的`products.isSearchPromoAvailable`和`products.searchPromoStatus`参数描述。<br>已更改方式名称。                                  |\n| [GET /api/client/statistics/{UUID}](#operation/StatisticsCheck)                                                                                                                                                                                                                                                                                                                                                                                                                                                            | 已更新方式响应中`kind`参数的描述。                                                                                                      |\n| [GET /api/client/statistics/list](#operation/ListReports)<br>[/api/client/statistics/externallist](#operation/ListReportsExternal)                                                                                                                                                                                                                                                                                                                                                                                         | 已更新方式响应中`items.meta.kind`参数的描述。                                                                                           |\n| [GET /api/client/campaign/{campaignId}/objects](#operation/ListCampaignObjects)<br>[POST /api/client/statistics](#operation/SubmitRequest)                                                                                                                                                                                                                                                                                                                                                                                 | 已更改方式描述。                                                                                                                  |\n| [POST /api/client/statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)<br>[POST /api/client/statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)<br>[POST /api/client/campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2)<br>[POST /api/client/search_promo/product/disable](#operation/ExternalCampaign_BatchDisableProducts)<br>[POST /api/client/search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts) | 已更改方式名称。                                                                                                                  |\n| —                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          | 已将**搜索结果推广**部分的名称更改为[**按订单付款**](#tag/Search-Promo)。                                                                       |\n\n## 2025年7月17日\n\n| 方法                                                                    | 变更                   |\n|------------------------------------------------------------------------|-------------------------|\n| [POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget) | 新了方法响应中`skuPrice`参数的描述。 |\n\n## 2025年6月10日\n\n| 方法                                                        | 变更                    |\n|----------------------------------------------------------------|-------------------------------------------------------|\n| [GET /api/client/campaign](#operation/ListCampaigns) | 在方法请求中添加了参数`page`和`pageSize`。 |\n\n## 2025年5月14日\n\n| 方法                                                        | 变更                    |\n|-----------------------------------------------------------|--------------------------|\n| [POST /api/min/sku](#operation/ExternalCampaign_BidBySKU) | 新增用于按 SKU 获取商品最低出价的新方法。  |\n\n## 2025年4月22日\n\n| 方法                                                                                                                                                                                                                               | 变更                                                                                                                                                               |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| GET /api/client/campaign/{campaignId}/brand_shelf/{brandShelfId}                                                                                                                                                                 | 已从文档中删除方法。                                                                                                                                                          | \n| [POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)                                                                | 添加了参数 `autoIncreasePercent` 到方法请求中 。                                                                                                                                |\n| [GET /api/client/campaign](#operation/ListCampaigns) <br> [POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign) | 添加了以下参数：`autoIncrease.autoIncreasePercent`，`autoIncrease.isAutoIncreased`，`autoIncrease.autoIncreasedBudget`，`autoIncrease.recommendedAutoIncreasePercent` 到方法响应中 。 |\n\n\n## 2025年4月4日\n\n| 方法                                                                            | 变更    |\n|-------------------------------------------------------------------------------|----------|\n| [GET /api/client/statistics/report](#operation/DownloadStatistics) | 更新了方法描述。<br> 修改了响应头和响应体的结构。| \n\n## 2025年4月1日\n\n| 方法                                                                            | 变更    |\n|-------------------------------------------------------------------------------|----------|\n| [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList) | 更新了方法描述。 | \n\n## 2025年1月20日\n|方法     |变更   |\n|---|---|\n|[POST /external/api/dynamic_budget](#operation/CalculateDynamicBudget)       | 添加了用于计算广告活动最低预算的方法。       |\n\n## 2025年1月9日    \n\n|方法     |变更   |\n|---|---|\n|[POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)        |  更新了请求方法中的参数 `productAutopilotStrategy` 描述。       |\n|[PATCH /api/client/campaign/{campaignId}](#operation/PatchProductCampaign)       | 已从请求方法中删除参数 `autopilot.skuAddMode`。        |\n\n## 2024年11月28日\n\n|方法     |变更   |\n|---|---|\n|[GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)       | 在报告中添加了周预算。       |\n\n\n## 2024年10月31日\n\n|方法     |变更   |\n|---|---|\n|[POST /api/client/campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)        | 已从请求方法中删除参数 `productCampaignMode`。       |\n| [GET /api/client/statistics/campaign/media](#operation/MediaCampaignList) <br> [GET /api/client/statistics/campaign/product](#operation/ProductCampaignList)       |更新了方法描述。          |\n\n## 2024年10月11日\n\n|方法     |变更   |\n|---|---|\n|[GET /api/client/statistics/externallist](#operation/ListReportsExternal)       |添加了通过API生成报告列表的方法。         |\n|[GET /api/client/statistics/list](#operation/ListReports)         |更新了方法描述。            |\n|[GET /api/client/campaign](#operation/ListCampaigns)        |更新了请求中的参数 `state` 和方法响应中的参数 `list.state` 的值 `CAMPAIGN_STATE_STOPPED`。       |\n|[POST /api/client/campaign/{campaignId}/activate](#operation/ActivateCampaign)<br> [POST /api/client/campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)        | 更新了方法响应中的 `CAMPAIGN_STATE_STOPPED` 参数 `state` 的值。       |\n\n## 2024年9月26日\n\n|方法     |变更   |\n|---|---|\n|所有的方式       | 从2025年1月15日起，主机 `performance.ozon.ru` 不再工作。请转到新主机 `api-performance.ozon.ru`。        |\n\n## 2024年9月3日\n\n|方法     | 变更 |\n|---|-------|\n|GET /campaign/{campaignId}/products         | 方法过时了，已从文档中删除。请使用 [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2).       |\n|POST /campaign/{campaignId}/search_promo/products       |方法过时了，已从文档中删除。请使用[POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)。       |\n|POST /campaign/{campaignId}/search_promo/bids/set       |方法过时了，已从文档中删除。请使用[POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2)。       |\n|POST /campaign/cpc/product       |方法过时了，已从文档中删除。请使用[POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)。       |\n|POST /campaign/{campaignId}/search_promo/bids/delete        |方法过时了，已从文档中删除。请使用[POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2)。       |\n|POST /campaign/cpm/v2/product <br/> PATCH /campaign/{campaignId}/brand_shelf/{brandShelfId}       |方法过时了，已从文件中删除。         |\n|[POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2) <br/> [POST /search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts) <br/> [POST /search_promo/product/disable](#operation/ExternalCampaign_BatchDisableProducts) <br/> [POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2)       |在描述方法中添加了，一个请求中可以传递的最大商品数量为1000。       |\n\n## 2024年8月29日\n\n|方法     | 变更 |\n|---|-------|\n|[POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)         |更新了请求方法中的参数 `productAutopilotStrategy` 描述。       |\n|[POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)       |在响应中更新了方法描述：`advObjectType`，`placement` 和 `productAutopilotStrategy`。       |\n|[GET /campaign](#operation/ListCampaigns)       |更新了请求方法中的参数 `advObjectType` 描述。       |\n|[GET /campaign/{campaignId}/objects](#operation/ListCampaignObjects)        |更新了方法描述。       |\n|[GET /limits/list](#operation/GetLimitsList)         |更新了响应中的方法和参数描述： `limits.objectType` 和 `limits.placement`。       |\n|[GET /statistics/campaign/product](#operation/ProductCampaignList) <br/> [GET /statistics/campaign/media](#operation/MediaCampaignList)       |更新了请求示例。       |\n|[模版和进入榜单](#tag/Ad) <br> [在模版中商品和榜单](#tag/Product)         |更新了部分名称。          |\n\n## 2024年8月15日\n\n|方法     | 变更 |\n|---|-------|\n| [POST /campaign/{campaignId}/products ](#operation/AddProducts) <br> [PUT /campaign/{campaignId}/products](#operation/UpdateProducts) <br> [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2) <br> [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2) <br> [POST /search_promo/bids/recommendation](#operation/ExternalCampaign_GetProductsRecommendedBids) <br> [POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2)       |在参数 `bid`、`bids` 和 `SKU*` 中明确指出，标价仅适用于订单或点击。       |\n\n## 2024年8月7日\n\n| 方法                                                                                                                                                                                    | 变更 |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-------|\n| POST /campaign/{campaignId}/v2/activate <br> POST /campaign/{campaignId}/v2/deactivate                                                                                                |方法未使用，已从文档中删除。请使用 [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) 和 [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign).       |\n| [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)                                      |删除了方法过时的标记。      |\n| [POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2) <br> [POST /search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts) |更新了方法的响应参数。            |\n| POST /campaign/{campaignId}/search_promo/bids/reset                                                                                                                                   |方法过时了，已从文档中删除。       |\n\n## 2024年7月22日\n\n| 方法                          | 变更 |\n|-----------------------------|-------|\n| POST /campaign/cpc/product <br> [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /campaign/{campaignId}](#operation/PatchProductCampaign) |在方法请求中添加了参数 `weeklyBudget`。       |\n| [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2) <br> [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) <br> [GET /campaign](#operation/ListCampaigns)                            | 在方法响应中添加了参数 `weeklyBudget`。      |\n\n## 2024年7月3日\n\n| 方法                                                                                                                                                | 变更 |\n|---------------------------------------------------------------------------------------------------------------------------------------------------|-------|\n| POST /campaign/cpm/product                                                                                                                        |方法过时了，已从文档中删除。       |\n| POST /campaign/cpm/v2/product                                                                                                                     |标记了方法过时。       |\n| [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2) <br> [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign) |更新了方法描述。        |\n\n## 2024年7月1日\n\n\n| 方法                                                                                                                     | 变更             |\n|------------------------------------------------------------------------------------------------------------------------|-------------------|\n| GET\\_/campaign/{campaignId}/brand_shelf/{brandShelfId} <br> PATCH\\_/campaign/{campaignId}/brand_shelf/{brandShelfId}   | 品牌货架不工作了，标记了方法过时。 |\n| [GET\\_/limits/list](#operation/GetLimitsList) <br> [GET\\_/campaign/{campaignId}/objects](#operation/ListCampaignObjects) <br> [POST\\_/statistics](#operation/SubmitRequest) <br> [POST\\_/statistics/attribution](#operation/AttributionSubmitRequest)                                                                                                                       |从描述中删除了品牌货架的提及。                   |\n\n## 2024年5月23日\n\n| 方法                         | 变更 |\n|----------------------------|-------|\n|POST /campaign/cpm/v2/product <br> [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) <br> [PATCH /campaign/{campaignId}](#operation/PatchProductCampaign )                             | 已从请求方法中删除参数 `expenseStrategy`。      |\n|[POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                            | 在请求方法中添加了参数 `productAutopilotStrategy` 的描述。      |\n|[GET /campaign](#operation/ListCampaigns)                             |在方法响应中补充了参数 `list.placement` 的描述。       |\n|POST /campaign/cpm/v2/product                             |在请求方法中添加了参数 `placement` 的描述。       |\n|[POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2) <br> [POST /campaign/{campaignId}/v2/deactivate](#operation/DeactivateCampaignV2)                             | 在方法响应中添加了参数 `productAutopilotStrategy` 的描述。      |\n \n## 2024年4月26日\n\n| 方法                         | 变更 |\n|----------------------------|-------|\n| [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)                            |在方法响应中添加了参数 `products.isSearchPromoAvailable`。       |\n\n\n## 2024年4月22日\n\n| 方法                                                                                                       | 变更 |\n|----------------------------------------------------------------------------------------------------------|-------|\n| POST /campaign/cpm/v2/product  <br> [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2) | 在请求方法中：<br>• 删除了参数 `autopilot` ；<br>• 修改了参数 `productCampaignMode` 的默认值。      |\n| [POST /statistic/orders/generate](#operation/SearchPromoOrdersReportSubmitRequest)                       | 添加了用于获取在搜索结果中的推广订单报告的方法。      |\n| [POST /statistic/products/generate](#operation/SearchPromoProductsReportSubmitRequest)                   |添加了获取搜索中推广商品报告的方法。       |\n\n## 2024年3月19日\n\n| 方法                         | 变更 |\n|----------------------------|-------|\n|[GET /limits/list](#operation/GetLimitsList)                            | 添加了获取：<br>• “搜索推广”、“模版”和“品牌货架”中的最低和最高投注的方法；<br>• “搜索推广”和“模版”中的商品类别的最低投注。      |\n\n## 2024年3月5日\n\n\n| 方法                                                                                               | 变更 |\n|--------------------------------------------------------------------------------------------------|-------|\n| [PUT /campaign/{campaignId}/products](#operation/UpdateProducts)                                 |更新了方法描述。        |\n| [POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2) | 更新了请求中的参数 `page` 描述。                                                                                               |\n| —                                                                                                | 在[**请求限制**](#tag/Limits)部分，提高了每24小时账户和组织内的导出数量限制到2000。      |\n\n## 2024年2月22日\n\n\n| 方法                                                                                            | 变更                                                                                     |\n|-----------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------|\n| GET /campaign/{campaignId}/products                                                           | 标记了方法过时。请使用 [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2).           |\n| [POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)                             | 标记了方法过时。                                                                                  |\n| POST /campaign/cpc/product                                                                    | 标记了方法过时。请使用 [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)。       |\n| [POST /campaign/{campaignId}/activate](#operation/ActivateCampaign)                           | 标记了方法过时。请使用 [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2)。     |\n| [POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)                       | 标记了方法过时。请使用 [POST /campaign/{campaignId}/v2/deactivate](#operation/DeactivateCampaignV2)。 |\n| [GET /campaign/{campaignId}/v2/products](#operation/GetProductsV2)                            | 添加了新的方法来获取活动商品列表。                                                                         |\n| POST /campaign/cpm/v2/product                                                                 | 添加了一个新的方法来创建付费展示的广告活动。                                                                    |\n| [POST /campaign/cpc/v2/product](#operation/CreateProductCampaignCPCV2)                        | 添加了一个新的方法来创建带点击付费的广告活动。                                                                   |\n| [POST /campaign/{campaignId}/v2/activate](#operation/ActivateCampaignV2)                      |  添加了新的激活活动的方法。                                                                                          |\n| [POST /campaign/{campaignId}/v2/deactivate](#operation/DeactivateCampaignV2)                  | 添加了新的关闭广告的方法。                                                                                                  |\n| [GET /campaign/{campaignId}/products/bids/competitive](#operation/GetProductsCompetitiveBids) |在模版中添加了一个新的方法来获取商品的竞争性报价。                                                                                           |\n\n## 2024年1月26日\n\n| 方法                         | 变更 |\n|----------------------------|-------|\n| POST /campaign/{campaignId}/search_promo/products <br> POST /campaign/{campaignId}/search_promo/bids/set <br> [POST /campaign/{campaignId}/search_promo/bids/reset](#operation/ResetSearchPromoBids) <br> POST /campaign/{campaignId}/search_promo/bids/delete                            | 标记了方法为过时的，使用新的方法来管理搜索结果的推广。       |\n|[POST /campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)                             |添加了从搜索结果中获取商品列表的方法。       |\n|[POST /search_promo/bids/recommendation](#operation/ExternalCampaign_GetProductsRecommendedBids)                              |添加了获取推荐投注的方法，用于搜索中的推广商品。       |\n|[POST /campaign/search_promo/v2/bids/set](#operation/ExternalCampaign_SetSearchPromoBidsV2)                            |添加了用于在搜索结果中设置商品推广的方法。       |\n|[POST /search_promo/product/enable](#operation/ExternalCampaign_BatchEnableProducts)                            |添加了用于在搜索结果中推广商品的方法。       |\n|[POST /search_promo/product/disable](#operation/ExternalCampaign_BatchDisableProducts)                            |添加了用于关闭商品在搜索中的推广的方法。       |\n|[POST /campaign/search_promo/v2/bids/delete](#operation/ExternalCampaign_DeleteSearchPromoBidsV2)                             |添加了从搜索结果中删除商品的方法。       |\n\n\n## 2024年1月17日\n\n\n| 方法                                                                                                | 变更 |\n|---------------------------------------------------------------------------------------------------|-------|\n|[POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)<br>POST /campaign/cpc/product    |更新了方法描述。从方法请求中删除了参数 `productCampaignMode`。       |\n|[POST /campaign/{campaignId}/products](#operation/AddProducts)                                                                                                    |更新了方法描述。从请求方法中删除了参数 `phrases`、`groupId` 和 `stopWords`。       |\n|[PUT /campaign/{campaignId}/products](#operation/UpdateProducts)                                                                                                     |从请求方法中删除了参数 `phrases`、`groupId` 和 `stopWords`。       |\n|GET /campaign/{campaignId}/products                                                                                                   |从方法的响应中删除了参数 `phrases`、`groupId` 和 `stopWords`。        |\n|[GET /campaign/{campaignId}/objects](#operation/ListCampaignObjects)<br>[POST /statistics/attribution](#operation/AttributionSubmitRequest)<br>[POST /statistics](#operation/SubmitRequest)<br>[POST /statistics/video](#operation/VideoCampaignsSubmitRequest)                                                                                                   |更新了方法描述。         |\n|  —                                                                                                   |部分 **投注限制** 已过时，已从文件中删除。       |\n|GET /campaign/available<br>POST /campaign/{campaignId}/group<br>GET /campaign/{campaignId}/group/{groupId}<br>PUT /campaign/{campaignId}/group/{groupId}<br>POST /statistics/phrases                                                                                                    |方法过时了，已从文件中删除。       |\n|PUT /campaign/{campaignId}/period<br>PUT /campaign/{campaignId}/daily_budget                                                                                                   |方法过时了，已从文档中删除。请使用 [PATCH /campaign/{campaignId}](#operation/PatchProductCampaign).      |\n\n## 2023年12月21日\n\n| 方法                         | 变更 |\n|----------------------------|-------|\n|[POST /statistics/](#operation/SubmitRequest) <br> [POST /statistics/video](#operation/VideoCampaignsSubmitRequest) <br> [POST /statistics/attribution](#operation/AttributionSubmitRequest) <br> [GET /statistics/campaign/media](#operation/MediaCampaignList) <br> [GET /statistics/campaign/product](#operation/ProductCampaignList) <br> [GET /statistics/daily](#operation/GetCampaignDailyStats) <br> [GET /statistics/expense](#operation/GetCampaignExpense)                            |在描述中添加了关于JSON格式报告的信息。       |\n\n## 2023年10月20日\n\n| 方法                                        | 变更 |\n|-------------------------------------------|-------|\n| —                                         |更新了部分标题： «商品广告活动» 在 [**模版**](#tag/Ad) 和 «商品在广告活动中» 在 [**商品模版**](#tag/Product)。      |\n| [GET /campaign](#operation/ListCampaigns) |更新了请求方法中的参数 `advObjectType` 描述。添加了方法响应中的参数 `PaymentType`。       |\n\n## 2023年4月10日\n\n| 方法 | 变更 |\n|----|-------|\n|[POST /statistics/phrases](#operation/PhrasesSubmitRequest)    |从方法请求中删除了参数 `groupBy`。       |\n\n## 2022年11月3日\n\n| 方法 | 变更 |\n|----|------|\n| —  |更新了[竞价限制](#tag/LimitsBids)并为“商品和类目”中的广告添加了“点击”支付方式。      |\n|POST /campaign/cpc/product    |添加了创建付费点击广告活动的方法。      |\n|[POST /campaign/{campaignId}/products](#operation/AddProducts)     |在方法描述中添加了关于在付费点击广告活动中添加商品的建议。       |\n|[PUT /campaign/{campaignId}/daily_budget](#operation/UpdateProductCampaignDailyBudget)   |从请求方法中删除了参数 `fromDate` 和 `toDate`。       |\n|[PUT /campaign/{campaignId}/period](#operation/UpdateProductCampaignPeriod)   |从请求方法中删除了参数 `dailyBudget`。       |\n|[PATCH /campaign/{campaignId}](#operation/PatchProductCampaign)      |在方法请求中添加了参数 `autopilot` 来传递启用自动策略的广告活动信息。 <br> 修改了参数 `budget` 的描述。       |\n|[POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)       |在方法请求中添加了参数 `autopilot.skuAddMode` 来启用自动将商品添加到活动中。 <br> 方法请求中更新了参数 `toDate` 的描述。 <br> 方法请求中添加了参数 `budget`。       |\n|[GET /campaign](#operation/ListCampaigns)         |在方法中添加了一个字段 `autopilot.skuAddMode` 来获取关于自动添加商品到活动的信息。        |\n\n## 2022年9月5日\n\n| 方法 | 变更 |\n|----|-------|\n|[GET /campaign](#operation/ListCampaigns)<br>[POST /campaign/{campaignId}/activate](#operation/ActivateCampaign)<br>[POST /campaign/{campaignId}/deactivate](#operation/DeactivateCampaign)    | 在方法响应中添加了字段，用于提供关于自动策略的信息 `productAutopilotStrategy` 和 `autopilot`。       |\n|[POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)        |添加了参数 `productAutopilotStrategy` 和 `autopilot` 来传递关于自动策略的信息到方法请求中。       |\n|[POST /campaign/{campaignId}/products](#operation/AddProducts)<br>[PUT /campaign/{campaignId}/products](#operation/UpdateProducts)            |在方法描述中添加了在启用自动策略的广告活动中工作时的限制。         |\n\n## 2022年9月2日\n\n| 方法                                     | 变更 |\n|-----------------------------------------|-------|\n| GET /campaign/{campaignId}/products     |添加了字段： <br>• `categories.bid` — 类别的赌注，<br>• `categories.categoryId` — 类别的标识符，<br>• `title` — 商品名称。       |\n\n## 2022年8月30日\n\n| 方法                                                                  | 变更 |\n|---------------------------------------------------------------------|-------|\n| [POST /statistics/video](#operation/VideoCampaignsSubmitRequest)    | 添加了获取视频横幅广告展示统计的方法。      |\n\n## 2022年8月22日\n\n| 方法                                                         | 变更 |\n|------------------------------------------------------------|-------|\n| [GET /organisation/vendor_tag](#operation/GetVendorTag)    |添加了用于获取组织标志的方法，以便用于外部广告活动。       |\n\n\n## 2022年8月11日\n\n| 方法                                                         | 变更 |\n|------------------------------------------------------------|-------|\n| [GET /statistics/report](#operation/DownloadStatistics)    |添加了方法响应中的错误UUID描述。       |\n\n## 2022年8月10日\n\n| 方法 | 变更 |\n|----|-------|\n|[GET /statistics/{UUID}](#operation/StatisticsCheck) <br> [GET /statistics/list](#operation/ListReports)    | 在方法的响应中添加了字段 `kind` 的值。      |\n\n## 2022年8月5日\n\n| 方法                                                                 | 变更 |\n|--------------------------------------------------------------------|-------|\n| [GET /campaign/{campaignId}/group/{groupId}](#operation/GetGroup)  | 添加了获取群组信息的方法。      |\n\n## 2022年7月18日\n\n| 方法 | 变更 |\n|----|-------|\n| —  |更新了在[限制下注](#tag/LimitsBids)部分的最大推广搜索排名。       |\n\n## 2022年7月15日\n\n| 方法 | 变更 |\n|----|-------|\n|[POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)    |更新了请求中的参数 `productCampaignMode` 描述。       |\n|[POST /campaign/{campaignId}/products](#operation/AddProducts)      |更新了方法描述。       |\n\n## 2022年7月14日\n\n| 方法 | 变更 |\n|----|-------|\n|[POST /campaign/cpm/product](#operation/CreateProductCampaignCPM)    |更新了方法描述。添加了参数 `productCampaignMode` 并更新了请求中的 `placement` 参数描述。       |\n|[POST /campaign/{campaignId}/products](#operation/AddProducts)    |更新了方法描述。更新了请求方法中的参数 `bids.bid` 描述。       |\n|[PUT /campaign/{campaignId}/products](#operation/UpdateProducts)     | 更新了方法描述。      |\n|[GET /campaign](#operation/ListCampaigns)    |更新了请求中的参数 `advObjectType` 描述。 在方法响应中添加了 `productCampaignMode` 字段。       |\n|[POST /campaign/{campaignId}/group](#operation/CreateGroup) <br> [PUT /campaign/{campaignId}/group/{groupId}](#operation/UpdateGroup) <br> [POST /statistics/phrases](#operation/PhrasesSubmitRequest)    | 更新了方法描述。      |\n|[GET /campaign/available](#operation/GetAvailableProductCampaignModes)    |添加了获取可用广告活动模式的方法。       |\n\n## 2022年7月11日\n\n| 方法 | 变更 |\n|----|-------|\n| —  | 添加了[投注限制](#tag/LimitsBids)部分。      |\n\n## 2022年7月8日\n\n| 方法 | 变更 |\n|----|-------|\n|GET /campaign/{campaignId}/brand_shelf/{brandShelfId}    |在方法响应中添加了字段 `targetDeepLink` 和 `bids.bidMicros`。 在响应中明确了字段 `image.format` 的返回值。 更新了响应中的字段 `bids.bid` 和 `searchBids.bid` 的描述。       |\n|PATCH /campaign/{campaignId}/brand_shelf/{brandShelfId}   |从方法请求中删除了字段 `searchBids.relevanceStatus`。       |\n\n## 2022年7月7日\n\n| 方法 | 变更 |\n|----|-------|\n|[POST /vendors/statistics](#operation/VendorStatisticsSubmitRequest)    |添加了用于启动外部流量分析报告生成的方法。       |\n|[GET /vendors/statistics/list](#operation/VendorStatisticsListReports)    |添加了获取所有所需报告的外部流量分析方法。       |\n|[GET /vendors/statistics/{UUID}](#operation/VendorStatisticsCheck)    |添加了获取外部流量分析报告信息的方法。       |\n\n\n## 2022年7月5日\n\n| 方法 | 变更 |\n|----|-------|\n|POST /campaign/{campaignId}/search_promo/products<br/><br/>POST /campaign/{campaignId}/search_promo/bids/delete    |更新了方法描述。       |\n\n## 2022年7月4日\n\n| 方法 | 变更 |\n|----|-------|\n|[POST /statistics](#operation/SubmitRequest) <br> [POST /statistics/phrases](#operation/PhrasesSubmitRequest) <br> [POST /statistics/attribution](#operation/AttributionSubmitRequest)    |已更改请求参数中的最大报告期限 `to` 和 `from`。       |\n\n## 2022年6月30日\n\n| 方法 | 变更 |\n|----|-------|\n|[GET /statistics/{UUID}](#operation/StatisticsCheck)     |在响应中添加了 `kind` 字段和示例方法。       |\n|[POST /statistics](#operation/SubmitRequest)    |在响应中添加了字段 `vendor` 和示例方法。       |\n\n## 2022年6月28日\n\n| 方法                         | 变更 |\n|----------------------------|-------|\n| POST /campaign/cpc/product | 方法过时了，已从文档中删除。      |\n| —                          |现在可以在卖家个人中心获取 `client_id` 和 `client_secret`。我们在[文档](#tag/Intro)中添加了说明。       |\n\n## 2022年6月27日\n\n| 方法                         | 变更 |\n|----------------------------|-------|\n|[PUT /campaign/{campaignId}/daily_budget](#operation/UpdateProductCampaignDailyBudget)                            |已修正请求中的参数 `dailyBudget` 描述。       |\n\n## 2022年6月2日\n\n| 方法 | 变更 |\n|----|-------|\n| —  |添加了[请求限制](#tag/Limits)部分。       |\n\n## 2021年9月27日\n\n| 方法   | 变更 |\n|------|-------|\n| —    |添加了[方法列表](#tag/List)部分。        |\n| —    |将“开始工作”部分名称更改为“[介绍](#operation/ListCampaigns)”。       |\n|      | 将“获取令牌”部分名称更改为“[如何获取API-密钥](#tag/Token)”。      |\n\n\n"
    },
    {
      "name": "Campaign",
      "x-displayName": "活动和推广对象"
    },
    {
      "name": "Statistics",
      "x-displayName": "统计数据",
      "description": "<aside class=\"notice\">\n广告中心报告中的日期按莫斯科时间进行分类。\n</aside>\n\n要获取广告活动报告:\n1. 发送请求生成报告。\n2. 获取生成的UUID请求报告。"
    },
    {
      "name": "Ad",
      "x-displayName": "按点击付费和特别投放"
    },
    {
      "name": "Product",
      "x-displayName": "按点击付费中的商品"
    },
    {
      "name": "Search-Promo",
      "x-displayName": "按订单付款"
    },
    {
      "name": "Vendor",
      "x-displayName": "外部流量分析"
    }
  ],
  "paths": {
    "/api/client/campaign": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "广告活动列表",
        "operationId": "ListCampaigns",
        "parameters": [
          {
            "name": "campaignIds",
            "description": "需要输出信息的广告标识符列表。\n\n如果传递值，则回复将包含所指明的活动的信息\n在字段 `campaigns` 中。如果字段为空，信息将传递给所有活动。\n",
            "in": "query",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uint64"
              }
            }
          },
          {
            "name": "advObjectType",
            "description": "广告活动类型：\n\n- `SKU` — 按点击付费；\n- `SEARCH_PROMO` — 按订单付款。\n\n[了解更多关于广告活动类型](https://seller-edu.ozon.ru/docs/advertising/reklamnye-kampanii.html)\n",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "description": "广告活动状态。\n\n可能的值：\n- `CAMPAIGN_STATE_RUNNING` — 活跃的活动；\n- `CAMPAIGN_STATE_PLANNED` — 计划中的活动，时间还没有到；\n- `CAMPAIGN_STATE_STOPPED` — 由于预算不足而暂停的活动；\n- `CAMPAIGN_STATE_INACTIVE` — 由于拥有者停止而停止的活动；\n- `CAMPAIGN_STATE_ARCHIVED` — 归档的活动；\n- `CAMPAIGN_STATE_MODERATION_DRAFT` — 已编辑的未发送到审核的活动；\n- `CAMPAIGN_STATE_MODERATION_IN_PROGRESS` — 已提交审核的广告活动；\n- `CAMPAIGN_STATE_MODERATION_FAILED` — 未通过审核的广告活动；\n- `CAMPAIGN_STATE_FINISHED` — 该活动已结束，结束日期已过去，无法更改此活动，可以只能克隆或创建新的一份。\n",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CAMPAIGN_STATE_UNKNOWN",
                "CAMPAIGN_STATE_RUNNING",
                "CAMPAIGN_STATE_PLANNED",
                "CAMPAIGN_STATE_STOPPED",
                "CAMPAIGN_STATE_INACTIVE",
                "CAMPAIGN_STATE_ARCHIVED",
                "CAMPAIGN_STATE_MODERATION_DRAFT",
                "CAMPAIGN_STATE_MODERATION_IN_PROGRESS",
                "CAMPAIGN_STATE_MODERATION_FAILED",
                "CAMPAIGN_STATE_FINISHED"
              ],
              "default": "CAMPAIGN_STATE_UNKNOWN"
            }
          },
          {
            "name": "page",
            "description": "页码。分页从1开始。",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "description": "页面尺寸。",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "所有广告活动的列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extcampaignCampaignsList"
                },
                "examples": {
                  "横幅营销活动": {
                    "value": {
                      "list": {
                        "id": 48949,
                        "paymentType": "CPM",
                        "title": "横幅营销活动",
                        "state": "CAMPAIGN_STATE_RUNNING",
                        "advObjectType": "BANNER",
                        "fromDate": "2019-10-07",
                        "toDate": "2021-10-07",
                        "dailyBudget": 504000000,
                        "placement": [
                          "PLACEMENT_PDP"
                        ],
                        "budget": 50000000,
                        "createdAt": "2019-10-07T06:28:44.055042Z",
                        "updatedAt": "2020-10-01T06:28:44.055042Z",
                        "productAutopilotStrategy": "NO_AUTO_STRATEGY",
                        "productCampaignMode": "PRODUCT_CAMPAIGN_MODE_AUTO"
                      }
                    }
                  },
                  "Продвижение товаров": {
                    "value": {
                      "list": {
                        "id": 48852,
                        "paymentType": "CPO",
                        "title": "商品广告 №1",
                        "state": "CAMPAIGN_STATE_INACTIVE",
                        "advObjectType": "SKU",
                        "fromDate": "2019-10-07",
                        "toDate": "2021-10-07",
                        "dailyBudget": 202000000,
                        "placement": [
                          "PLACEMENT_PDP"
                        ],
                        "budget": 40000000,
                        "createdAt": "2019-10-07T06:28:44.055042Z",
                        "updatedAt": "2020-10-01T06:28:44.055042Z",
                        "productAutopilotStrategy": "NO_AUTO_STRATEGY",
                        "productCampaignMode": "PRODUCT_CAMPAIGN_MODE_AUTO"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/campaign?campaignIds=52374&advObjectType=SKU&state=CAMPAIGN_STATE_UNKNOWN HTTP/1.1\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nHost: api-performance.ozon.ru:443\nContent-Type: application/json\nAccept: application/json\n"
          }
        ]
      }
    },
    "/api/client/campaign/{campaignId}/objects": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "活动中的推广对象列表",
        "description": "\n用于获取 “按点击付费”、“横幅” 和 “视频横幅” 活动中的推广对象列表的方法。\n\n要获取“按订单付款”活动中的商品，请使用 [POST/campaign/search_promo/v2/products](#operation/ExternalCampaign_ListSearchPromoProductsV2)。\n",
        "operationId": "ListCampaignObjects",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uint64"
            },
            "description": "广告活动标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "广告活动中的推广对象列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extcampaignCampaignObjectsList"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/campaign/48852/objects HTTP/1.1\nHost: api-performance.ozon.ru:443\nContent-Type: application/json\nAccept: application/json\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4"
          }
        ]
      }
    },
    "/api/client/limits/list": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "推广工具的投注限额",
        "description": "\n您可以通过工具获取投注限制：\n- 按订单付款：\n  - 工具的最低和最高押金。\n  - 某些商品类目的最低订单金额。\n- 特别投放和按点击付费：\n  - 每点击的最低和最高佣金。\n  - 某些商品类目的最低点击佣金。\n",
        "operationId": "GetLimitsList",
        "responses": {
          "200": {
            "description": "投注限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extcampaignListLimitsResponse"
                }
              }
            }
          },
          "default": {
            "description": "错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/min/sku": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "operationId": "ExternalCampaign_BidBySKU",
        "summary": "按 SKU 获取商品最低出价",
        "description": "使用该方法，可查询一个或多个 SKU 商品的最低出价。",
        "requestBody": {
          "$ref": "#/components/requestBodies/extcampaignBidBySKURequest"
        },
        "responses": {
          "200": {
            "description": "最低出价金额",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extcampaignBidBySKUResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/products_with_bonuses": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "operationId": "ExternalCampaign_ListProductsWithBonuses2",
        "summary": "带有积分的商品列表",
        "description": "返回已发放积分的商品SKU列表。\n\n点击商品时，优先消耗该商品所发放的积分。如果积分用完，则使用活动的总预算。\n",
        "responses": {
          "200": {
            "description": "带有积分的商品列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extcampaignListProductsWithBonusesResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/statistics": {
      "post": {
        "tags": [
          "Statistics"
        ],
        "summary": "广告活动统计",
        "description": "\n在请求中使用字段 `from` 和 `to` 或 `dateFrom` 和 `dateTo` 指定时间段。如果填写了所有字段\n四个字段，回复将包含字段 `dateFrom` 和 `dateTo` 的暂时时间段的统计数据。\n\n性能API异步。因此，请求结果将不是报告本身，而是唯一标识符\n已发送的请求，可以用于[检查报告生成状态](#operation/StatisticsCheck)和[下载报告](#operation/DownloadStatistics)。\n报告格式 — CSV。 \n\n档案包含不同类型广告的报告示例：\n\n- [横幅和原生横幅](https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/performance/api/report-examples/banner_example_1766144809.zip)\n- [视频横幅](https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/performance/api/report-examples/videobanner_1705412072.zip)\n- [按点击付费](https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/performance/api/report-examples/stencils_1705412070.zip)\n\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/json` 地址。\n",
        "operationId": "SubmitRequest",
        "requestBody": {
          "$ref": "#/components/requestBodies/extstatStatisticsRequest"
        },
        "responses": {
          "200": {
            "description": "活动统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsRequestID"
                },
                "example": {
                  "UUID": "0c159c60-ab92-46d9-9a6b-d225dbf5c7b1",
                  "vendor": true
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/client/statistics HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json\nAccept: application/json\n\n{\n    \"campaigns\":[\"48852\"],\n    \"from\":\"2020-06-01T00:00:00.000Z\",\n    \"to\":\"2020-07-20T00:00:00.000Z\",\n    \"dateFrom\":\"2020-06-01\",\n    \"dateTo\":\"2020-07-20\",\n    \"groupBy\":\"DATE\"\n}"
          }
        ]
      }
    },
    "/api/client/statistics/video": {
      "post": {
        "tags": [
          "Statistics"
        ],
        "summary": "视频横幅展示统计",
        "description": "\n在请求中使用字段 `dateFrom` 和 `dateTo` 指定时间段。\n\n性能API异步。因此，请求结果将不是报告本身，而是唯一标识符\n已发送的请求，可以用于[检查报告生成状态](#operation/StatisticsCheck)和[下载报告](#operation/DownloadStatistics)。\n报告格式 — CSV。 \n\n报告包含：\n- 名称；\n- 广告活动标识符；\n- 报告周期；\n- 广告条纹标识符；\n- 展示；\n- 点击；\n- 覆盖范围；\n- CTR;\n- 可见销售量；\n- 容积检查：25%，50%，75%和100%；\n- 检验比例：25%，50%，75%和100%；\n- 声音播放的观看次数；\n- 订单；\n- 费用。\n\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/video/json` 地址。\n",
        "operationId": "VideoCampaignsSubmitRequest",
        "requestBody": {
          "$ref": "#/components/requestBodies/extstatStatisticsVideobannerRequest"
        },
        "responses": {
          "200": {
            "description": "视频横幅广告的统计数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsRequestID"
                },
                "example": {
                  "UUID": "0c159c60-ab92-46d9-9a6b-d225dbf5c7b1",
                  "vendor": true
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/client/statistics/video HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json\nAccept: application/json\n\n{\n    \"campaigns\":[\"48852\"],\n    \"dateFrom\":\"2020-06-01\",\n    \"dateTo\":\"2020-07-20\",\n    \"groupBy\":\"NO_GROUP_BY\"\n}"
          }
        ]
      }
    },
    "/api/client/statistics/attribution": {
      "post": {
        "tags": [
          "Statistics"
        ],
        "summary": "订单报告",
        "description": "\n获取广告牌订单报告的方法。\n\n在请求中使用字段 `from` 和 `to` 或 `dateFrom` 和 `dateTo` 指定时间段。如果填写了所有字段\n   四个字段，回复将包含字段 `dateFrom` 和 `dateTo` 的暂时时间段的统计数据。\n\n\n性能API异步。因此，请求结果将不是报告本身，而是唯一标识符\n已发送的请求，可以用于[检查报告生成状态](#operation/StatisticsCheck)和[下载报告](#operation/DownloadStatistics)。\n报告格式 — CSV。 \n报告包含：\n\n- 名称;\n- 广告活动标识符;\n- 报告周期;\n- SKU;\n- 商品名称;\n- 订单数量;\n- 收入（卢布);\n- 模型订单数量;\n- 模型订单收入;\n- 归因类型。\n\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/attribution/json` 地址。\n",
        "operationId": "AttributionSubmitRequest",
        "requestBody": {
          "$ref": "#/components/requestBodies/extstatStatisticsRequest"
        },
        "responses": {
          "200": {
            "description": "订单报告",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsRequestID"
                },
                "example": {
                  "UUID": "0c159c60-ab92-46d9-9a6b-d225dbf5c7b1"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "POST /api/client/statistics/attribution HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json\nAccept: application/json\n\n{\n    \"campaigns\":[\"48852\"],\n    \"from\":\"2020-06-01T00:00:00.000Z\",\n    \"to\":\"2020-07-20T00:00:00.000Z\",\n    \"dateFrom\":\"2020-06-01\",\n    \"dateTo\":\"2020-07-20\",\n    \"groupBy\":\"DATE\"\n}"
          }
        ]
      }
    },
    "/api/client/statistics/{UUID}": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "报告状态",
        "operationId": "StatisticsCheck",
        "parameters": [
          {
            "name": "UUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "请求唯一标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "报告状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsResponse"
                },
                "example": {
                  "UUID": "0c159c60-ab92-46d9-9a6b-d225dbf5c7b1",
                  "state": "OK",
                  "createdAt": "2020-03-23T19:30:58.264653Z",
                  "updatedAt": "2020-03-23T19:30:58.689007Z",
                  "request": {
                    "attributionDays": "",
                    "campaignId": 1,
                    "campaigns": [
                      12558
                    ],
                    "dateFrom": "2020-03-01",
                    "dateTo": "2020-03-20",
                    "from": "2020-03-01T00:00:00Z",
                    "groupBy": "DATE",
                    "objects": [],
                    "to": "2020-03-20T00:00:00Z"
                  },
                  "link": "string",
                  "kind": "STATS"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/0c159c60-ab92-46d9-9a6b-d225dbf5c7b1 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json\nAccept: application/json"
          }
        ]
      }
    },
    "/api/client/statistics/list": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "通过界面生成的报告列表",
        "description": "\n通过广告管理界面生成的报告列表获取方法。\n",
        "operationId": "ListReports",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "页面编号。"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "页面尺寸。"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "报告列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsReportsList"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/list?page=1&pageSize=100 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json\nAccept: application/json"
          }
        ]
      }
    },
    "/api/client/statistics/externallist": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "通过API生成的报告列表",
        "operationId": "ListReportsExternal",
        "description": "\n通过API服务账号生成的报告列表获取方法。\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "页面编号。"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "页面尺寸。"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "报告列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsReportsList"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/list?page=1&pageSize=100 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json\nAccept: application/json"
          }
        ]
      }
    },
    "/api/client/statistics/report": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "获取报告",
        "description": "\n请求成功后，使用[“报告状态”](#operation/StatisticsCheck)方法时，下载 CSV 或 ZIP 格式报告的链接将出现在`link` 字段中。\n\n报告格式在响应头中的`content-type` 字段中指定。 格式取决于原始请求中 `campaigns` 字段包含的活动数量：\n- CSV — 如果列表中只有一个活动。\n- ZIP 压缩包 — 如果列表中有多个广告活动。每个文件对应列表中的一个广告活动。文件名格式为\n`<广告活动标识符>。csv`。\n",
        "operationId": "DownloadStatistics",
        "parameters": [
          {
            "name": "UUID",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "请求唯一标识符。"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "报告。",
            "headers": {
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "text/csv; charset=UTF-8"
                }
              },
              "x-o3-trace-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "报告行。"
                },
                "example": "; Кампания по продвижению товаров № 13883040, период 03.01.2025-03.01.2025 \nsku; Название товара; Цена товара, Р; Показы; Клики; CTR (%); В корзину; Ср. цена клика, г;Ср. цена 1000 показов, Р; Расход, Р, с НДС; Заказы; Выручка, Р; Заказы модели; Выручка с заказов модели, Р;ДРР, %: Дата добавления \nBcero;;;0;0;0,00; 0; 0,00;0,00; 0,00; 0; 0,00;0;0,00;0,00"
              }
            }
          },
          "404": {
            "description": "不正确的UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                },
                "example": {
                  "error": "report not found"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/report?UUID=0c159c60-ab92-46d9-9a6b-d225dbf5c7b1 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4"
          }
        ]
      }
    },
    "/api/client/statistics/campaign/media": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "媒体活动统计",
        "description": "\n在请求中使用字段 `from` 和 `to` 或 `dateFrom` 和 `dateTo` 指定时间段。如果填写了所有字段\n四个字段，回复将包含字段 `dateFrom` 和 `dateTo` 的暂时时间段的统计数据。\n\n报告格式 — CSV。 \n\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/campaign/media/json` 地址。\n\n报告包含：\n- 广告活动标识符；\n- 促销活动名称；\n- 活动格式；\n- 活动状态；\n- 每日预算（卢布）；\n- 预算以卢布为单位；\n- 费用（卢布）；\n- 展示；\n- 点击；\n- 平均价格每1000次展示为卢布；\n- 点击率（点击次数与展示次数的比例）；\n- 平均点击价格（卢布）；\n- 订单以件为单位；\n- 浏览后下单数（件）；\n- 浏览后订单金额；\n- 广告收入率；\n- 订单总金额；\n- 支付类型；\n- 预算类型。\n",
        "operationId": "MediaCampaignList",
        "parameters": [
          {
            "name": "campaignIds",
            "in": "query",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uint64"
              },
              "description": "需要准备报告的广告活动标识符列表。\n\n如果字段填写了，报告中只会显示指定的广告活动的统计数据。如果字段为空，回复中会显示\n指定时间段内所有活动的统计数据。\n\n非必填字段。\n"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "报告周期的起始日期，以RFC3339格式。\n\n非必填字段。\n"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "报告周期的最终日期，以RFC3339格式。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "媒体活动统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsReport"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/campaign/media?dateFrom=2024-08-01&dateTo=2024-08-01&campaignIds=11037395&campaignIds=11037396 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json"
          }
        ]
      }
    },
    "/api/client/statistics/campaign/product": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "按点击付费和特别投放活动统计",
        "description": "\n<aside class=\"notice\"> 不消耗Performance API的限额。 </aside>\n\n在请求中使用字段 `from` 和 `to` 或 `dateFrom` 和 `dateTo` 指定时间段。如果填写了所有字段四个字段，回复将包含字段 `dateFrom` 和 `dateTo` 的暂时时间段的统计数据。\n\n报告格式 — CSV。 \n\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/campaign/product/json` 地址。\n\n报告包含：\n- 广告活动标识符；\n- 促销活动名称；\n- 对象类型；\n- 活动状态；\n- 一周预算（卢布）；\n- 预算（卢布）；\n- 费用（卢布）；\n- 展示；\n- 点击；\n- 商品添加至购物车的次数；\n- 点击率（点击次数与展示次数的比例）；\n- 平均点击价格（卢布）；\n- 订单以件为单位；\n- 订单以卢布支付；\n- 广告费用占比（广告收入率）；\n- 推广类型；\n- 特别投放的位置。\n",
        "operationId": "ProductCampaignList",
        "parameters": [
          {
            "name": "campaignIds",
            "in": "query",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uint64"
              },
              "description": "需要准备报告的广告活动标识符列表。\n\n如果字段填写了，报告中只会显示指定的广告活动的统计数据。如果字段为空，回复中会显示\n指定时间段内所有活动的统计数据。\n\n非必填字段。\n"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "报告周期的起始日期，以RFC3339格式。\n\n非必填字段。\n"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "报告周期的最终日期，以RFC3339格式。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "商品活动统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsReport"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/campaign/product?dateFrom=2024-08-01&dateTo=2024-08-07&campaignIds=11037395&campaignIds=11037396 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json"
          }
        ]
      }
    },
    "/api/client/statistics/expense": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "广告活动费用统计",
        "description": "\n如果请求中没有指定字段 `dateFrom` 和 `dateTo` 的值，则响应将包含过去7天的统计数据。\n\n报告格式 — CSV。 \n\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/expense/json` 地址。\n报告包含：\n- 广告活动标识符；\n- 日期；\n- 名称；\n- 开支；\n- 用户账户支出；\n- 使用积分。\n",
        "operationId": "GetCampaignExpense",
        "parameters": [
          {
            "name": "campaignIds",
            "in": "query",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uint64"
              },
              "description": "需要准备报告的广告活动标识符列表。\n\n如果字段填写了，报告中只会显示指定的广告活动的统计数据。如果字段为空，回复中会显示\n指定时间段内所有活动的统计数据。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "广告消耗统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsReport"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/expense?campaigns=48852&dateFrom=2019-02-10&dateTo=2020-02-10 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json"
          }
        ]
      }
    },
    "/api/client/statistics/daily": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "每日广告统计",
        "description": "\n如果请求中没有指定字段 `dateFrom` 和 `dateTo` 的值，则响应将包含过去7天的统计数据。\n\n报告格式 — CSV。 \n\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/daily/json` 地址。\n\n报告包含：\n- 广告活动标识符;\n- 促销活动名称;\n- 日期;\n- 展示;\n- 点击;\n- 费用（卢布);\n- 订单以件为单位;\n- 订单以卢布支付。\n",
        "operationId": "GetCampaignDailyStats",
        "parameters": [
          {
            "name": "campaignIds",
            "in": "query",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uint64"
              },
              "description": "需要准备报告的广告活动标识符列表。\n\n如果字段填写了，报告中只会显示指定的广告活动的统计数据。如果字段为空，回复中会显示\n指定时间段内所有活动的统计数据。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "报告周期的起始日期格式为YYYY-MM-DD。例如：`2019-02-10`。\n\n非必填字段。\n"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "每日广告统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsReport"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "JSON",
            "source": "GET /api/client/statistics/daily?campaigns=48852&dateFrom=2019-02-10&dateTo=2020-02-10 HTTP/1.1\nHost: api-performance.ozon.ru:443\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nContent-Type: application/json"
          }
        ]
      }
    },
    "/api/client/statistic/orders/generate": {
      "post": {
        "tags": [
          "Statistics"
        ],
        "summary": "获取按订单付费订单报告——所选商品",
        "description": "\n在请求参数中，`from` 和 `to` 请填写时间段。\n\n性能API异步。\n因此，请求结果将不是报告本身，而是发送请求的唯一标识符，可以通过此标识符[检查报告生成状态](#operation/StatisticsCheck)和[下载CSV格式的报告](#operation/DownloadStatistics)。\n\n要请求JSON格式的报告，请将方法地址中的地址添加为： `/api/client/statistic/orders/generate/json`。\n  \n报告包含：\n- 报告周期；\n- 日期；\n- 订单编号；\n- 订单号；\n- SKU;\n- 推广商品的SKU；\n- 货号；\n- 名称；\n- 订单来源；\n- 数量；\n- 价格，₽；\n- 赔偿率，%；\n- 出价，₽；\n- 费用，₽。\n",
        "operationId": "SearchPromoOrdersReportSubmitRequest",
        "requestBody": {
          "$ref": "#/components/requestBodies/extstatisticsSearchPromoOrdersReportRequest"
        },
        "responses": {
          "200": {
            "description": "活动统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsRequestID"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/statistic/products/generate": {
      "post": {
        "tags": [
          "Statistics"
        ],
        "summary": "获取按订单付费商品报告——所选商品",
        "description": "\n在请求参数中，`from` 和 `to` 请填写时间段。\n\n性能API异步。\n\n因此，请求结果将不是报告本身，而是发送请求的唯一标识符，可以通过此标识符[检查报告生成状态](#operation/StatisticsCheck)和[下载CSV格式的报告](#operation/DownloadStatistics)。\n\n要请求JSON格式的报告，请将方法地址中的地址添加为： `/api/client/statistic/products/generate/json`。\n\n报告包含：\n\n- 报告周期；\n- SKU;\n- 货号；\n- 名称；\n- 类目；\n- 推广；\n- 商品价格，₽；\n- 赔偿率，%；\n- 出价，₽；\n- 订单数量；\n- 订单总额，₽；\n- 费用，₽；\n- 销售（按点击付费），₽；\n- 费用（按点击付费），₽；\n- 订单（按点击付费），件；\n- 添加到购物车；\n- 广告收入率，%；\n- 最后更新。\n",
        "operationId": "SearchPromoProductsReportSubmitRequest",
        "requestBody": {
          "$ref": "#/components/requestBodies/extstatisticsSearchPromoOrdersReportRequest"
        },
        "responses": {
          "200": {
            "description": "活动统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatStatisticsRequestID"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/statistics/all_sku_promo/orders/generate": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "operationId": "GenerateAllSkuPromoOrdersReport",
        "summary": "获取按订单付费订单报告——所有商品",
        "description": "在请求参数中，`timeBounds.from` 和 `timeBounds.to` 请填写时间段。\n\n性能API异步。\n\n\n因此，请求结果将不是报告本身，而是发送请求的唯一标识符，可以通过此标识符[检查报告生成状态](#operation/StatisticsCheck)和[下载CSV格式的报告](#operation/DownloadStatistics)。\n\n\n要请求JSON格式的报告，请将方法地址中的地址添加为： `/api/client/statistics/all_sku_promo/orders/generate/json`。\n\n\n报告包含：\n- 报告周期；\n- 日期；\n- 订单标识符；\n- 订单号；\n- SKU；\n- 推广商品的SKU；\n- 货号；\n- 商品名称；\n- 数量；\n- 价格，₽；\n- 销售价格，₽;\n- 出价，%；\n- 出价，₽；\n- 费用，₽。\n",
        "parameters": [
          {
            "name": "timeBounds.from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "报告周期的起始日期，以RFC 3339格式。"
          },
          {
            "name": "timeBounds.to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "报告周期的最终日期，以RFC 3339格式。"
          }
        ],
        "responses": {
          "200": {
            "description": "广告活动统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatisticsGenerateAllSkuPromoOrdersReportResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/statistics/all_sku_promo/products/generate": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "获取按订单付费商品报告——所有商品",
        "description": "在请求参数中，`timeBounds.from` 和 `timeBounds.to` 请填写时间段。\n\n性能API异步。\n\n\n因此，请求结果将不是报告本身，而是发送请求的唯一标识符，可以通过此标识符[检查报告生成状态](#operation/StatisticsCheck)和[下载CSV格式的报告](#operation/DownloadStatistics)。\n\n\n要请求JSON格式的报告，请将方法地址中的地址添加为： `/api/client/statistics/all_sku_promo/products/generate/json`。\n\n报告包含：\n- 日期；\n- 推广状态：已启用或已关闭；\n- 费用，₽；\n- 来自搜索的销售额，₽；\n- 来自推荐的销售额，₽；\n- 来自搜索的订单数量；\n- 来自推荐的订单数量。\n",
        "operationId": "GenerateAllSkuPromoProductsReport",
        "parameters": [
          {
            "name": "timeBounds.from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "报告周期的起始日期，以RFC 3339格式。"
          },
          {
            "name": "timeBounds.to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "报告周期的最终日期，以RFC 3339格式。"
          }
        ],
        "responses": {
          "200": {
            "description": "广告活动统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatisticsGenerateAllSkuPromoProductsReportResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/statistics/phrases": {
      "post": {
        "summary": "搜索查询报告",
        "description": "该功能正处于测试阶段。<br><br>\n仅支持为`placement = PLACEMENT_TOP_PROMOTION`属性的按点击付费广告活动生成报告。<br><br>\n要请求JSON格式的报告，请在方法地址中添加 `/json` 并发送请求到 `/api/client/statistics/phrases/json` 地址。",
        "tags": [
          "Statistics"
        ],
        "operationId": "ExternalStatistics_StatisticsPhrasesSubmitRequest2",
        "requestBody": {
          "$ref": "#/components/requestBodies/extstatisticsStatisticsRequest"
        },
        "responses": {
          "200": {
            "description": "搜索查询报告",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/extstatisticsStatisticsRequestID"
                }
              }
            }
          },
          "default": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/statistics/products/sku": {
      "post": {
        "tags": [
          "Statistics"
        ],
[...]
